## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [5]:
5 + 36 % 4 / 6 - 1
5 + 0 / 6 -1
5 + 0 - 1 == 4

True

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [6]:
num = int(input('Please enter a number'))

if num % 2 == 0 :
    print("Even")
     
else :
    print("odd")

Please enter a number3
odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [10]:
num = int(input('please enter a number'))

for i in range(1,11):
    print(f'{num} * {i} = {num*n}')

please enter a number6
6 * 1 = 60
6 * 2 = 60
6 * 3 = 60
6 * 4 = 60
6 * 5 = 60
6 * 6 = 60
6 * 7 = 60
6 * 8 = 60
6 * 9 = 60
6 * 10 = 60

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [11]:
    for n in range(2000,3200):
        if (n % 7 == 0 and n % 5 !=0):
            print(n)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [12]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

Str = []
Int = []
Float = []
boolean = []
none = []

for n in l1 :
    if type(n) == str :
        Str.append(n)
        
    elif type(n) == int :
        Int.append(n)
        
    elif type(n) == float :
        Float.append(n)
    
    elif type(n) == bool :
        boolean.append(n)
        
count_dict = {'str':len(Str), 'int':len(Int), 'float':len(Float), 'bool':len(boolean)} 
print(count_dict)

{'str': 4, 'int': 5, 'float': 1, 'bool': 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [14]:
num = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total = 0

for item in num:
    if isinstance(item, (int, float)):  
        total += item
        
total

22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [15]:
data_type = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = '-'.join(str(item) for item in data_type if isinstance(item, str))
result

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [16]:
def my_func(input_list):
    sum_of_numbers = 0
    count_of_strings = 0
    
    for item in input_list:
        if isinstance(item, (int, float)): 
            sum_of_numbers += item
        elif isinstance(item, str):  
            count_of_strings += 1
    
    result = {'Sum': sum_of_numbers, 'Count_of_Strs': count_of_strings}
    
    return result
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
output = my_func(l1)
print(output)

{'Sum': 22.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [17]:
## 1) using loops
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# Using a loop to filter odd numbers

odd_numbers = []
for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print(odd_numbers)

##2) using list comprehension

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers = [num for num in li if num % 2 != 0]

print(odd_numbers)

##3) using lambda filter function

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

odd_numbers = list(filter(lambda x: x % 2 != 0, li))

print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [18]:
def cal_descriptives(numbers):
    return {
        'sum': sum(numbers),
        'count': len(numbers),
        'min': min(numbers),
        'mean': sum(numbers) / len(numbers) if numbers else None,
        'max': max(numbers)
    }
input_numbers = [12, 34, 56, 78, 90]
result = cal_descriptives(input_numbers)
print(result)

{'sum': 270, 'count': 5, 'min': 12, 'mean': 54.0, 'max': 90}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [20]:
def shape_cal(shape, **kwargs):
    if shape == "triangle":
        area = 0.5 * kwargs["base"] * kwargs["height"]
    elif shape == "circle":
        area = 22/7 * kwargs["radius"] ** 2
    elif shape == "square":
        area = kwargs["side"] ** 2
    else:
        print("Invalid shape")
        return None 
    return area

In [21]:
shape_cal("triangle",base=10,height=20)

100.0

In [22]:
shape_cal("circle", radius=3)

28.285714285714285

In [23]:
shape_cal("square", side=4)

16

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [24]:
def reconcile_lists(l1, l2):
    common = list(set(l1) & set(l2))
    only_in_l1 = list(set(l1) - set(l2))
    only_in_l2 = list(set(l2) - set(l1))

    result = {
        'Matched': common,
        'Only in l1': only_in_l1,
        'Only in l2': only_in_l2
    }

    return result

l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

output = reconcile_lists(l1, l2)
print(output)

{'Matched': ['February', 'December', 'January', 'June'], 'Only in l1': ['May', 'September', 'March'], 'Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [25]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

In [26]:
is_prime(6)

False

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [27]:
num = int(input("Enter a number "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("The factorial is:", factorial)

Enter a number 7
The factorial is: 5040

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [28]:
n = int(input("Enter an integral number: "))
result_dict = {}
for i in range(1, n + 1):
    result_dict[i] = i * i
print(result_dict)

Enter an integral number: 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [32]:
input_str = input("Enter a sequence of comma-separated numbers: ")
numbers_list = input_str.split(',')
numbers_tuple = tuple(numbers_list)
print(numbers_list)
print(numbers_tuple)

Enter a sequence of comma-separated numbers: 3,4,5,6
['3', '4', '5', '6']
('3', '4', '5', '6')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [33]:
a = input("Enter comma separated words")
b = a.split(",")
c = sorted(b) 
print("The sorted sequence of words are:",c)

Enter comma separated wordsthank,you
The sorted sequence of words are: ['thank', 'you']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [39]:
input_str = input("Enter a sequence of words: ")
words = input_str.split()
unique_words = set(words)
sorted_unique_words = sorted(unique_words)
result = " ".join(sorted_unique_words)
print(result)

Enter a sequence of words: hello arjun
arjun hello

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [40]:
sentence = input("Enter a sentence: ")
upper_count = 0
lower_count = 0
for char in sentence:
    if char.isupper():
        upper_count += 1
    elif char.islower():
        lower_count += 1
print("UPPER CASE", upper_count, "LOWER CASE", lower_count)

Enter a sentence: YUvika
UPPER CASE 2 LOWER CASE 4

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [41]:

input_string = input("Enter a string ")
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string ikhu
Reversed string: uhki